<template>
    <div>
        <h1>Topselect App</h1>
        <!--<router-link class="btn btn-info" :to="{ path: '/mijnuren/56', query: { enddate: '2017-08-27' }} "><i class="fa fa-eur"></i> Uren declareren</router-link>-->
        <router-link class="btn btn-info" :to="{ path: '/mijnuren/56' }"><i class="fa fa-eur"></i> Uren declareren</router-link>
        <!--<router-link to="/mijnuren/?enddate=2017-08-27">Mijn uren</router-link>-->

        <p>cool!</p>
    </div>

</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                // We need to initialize the component with any
                // properties that will be used in it
                credentials: {
                    email: '',
                    password: ''
                },
                error: ''
            }
        },

        mounted(){
            console.log('hello');
        }
    };
</script>