<template>
    <div>
        <h1>Hello</h1>
        <!--<router-link to="/">Go back</router-link>-->
    </div>
</template>

<script>
    export default {
        name: 'hello',
        data() {
            return {
                // We need to initialize the component with any
                // properties that will be used in it
                credentials: {
                    email: '',
                    password: ''
                },
                error: ''
            }
        }
    };
</script>